extends layout
block content
  h1 第29回プログラミングコンテスト競技部門練習場
  hr
  br
  h2 What's this?
  br
  h7
  |第29回プログラミングコンテスト競技部門のための練習場です．
  |今回の問題に関しては
  a(href="http://www.procon.gr.jp/wp-content/uploads//2016/12/e017e38ca89f7a0d04d6ad74319ffde0-1.pdf") 募集要項
  |を確認してください．部屋等の作成は自由に行えますが，悪意のある行動や無駄な部屋作成はご遠慮ください．
  |Webサイト作成はこれが初なので不具合があるかもしれません．不具合があった場合には@MahitoにDM等で連絡をしていただければ幸いです．
  |気力があれば修正します．
  br
  br
  h2 ログインについて
  |Twitter Oauthを採用しています．Twitterアカウントさえあればログインが可能です．
  br
  br
  h2 問題について
  |問題は現時点では管理者のみアップロードが可能です．
  |問題の盤面は試合毎にランダムに生成されるよう実装する「予定」です（現時点では静的）．
  |競技場ばかりに囚われていると
  font(color="red"): u 問題傾向を把握し損ねる
  |場合があるのでみなさん注意しましょう(戒め)．
  br
  br
  h2 実際のプレイについて
  |今回の問題は対人戦であるためリアルタイムな通信を行って試合を行います．
  |ハンドシェイク的なことをしているので試合中に双方が抜ければ部屋情報はリセットされます(最初から)．
  |試合画面を一定時間見ないと(5sec程度)リロードが入るので注意してください．
  |試合参加はJoinボタンを押すことで登録ができます．両チームに参加が確認され次第試合が開始されます．
  |作戦フェーズにのみ自陣のエージェントを動かしたいマスに対してクリックすることで動かすことが可能です．
  |マス削除はShiftキーを押したままクリックで行えます．
  br
  br
  h2 開発環境
  |node.jsのexpressで作成されています．
  br
  |express@4.16.3
  br
  |socket.io@2.1.1
  br
  |passport-twitter@1.0.4
  br
  |mongoose@5.1.6
