doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/animes.css')
    script(src="/animejs/anime.min.js")
    script(src='/javascripts/moveSquare.js')
    script(src="/socket.io/socket.io.js")
    script(src="http://code.jquery.com/jquery-1.11.1.js")

  body
    block content
