extends layout
block content
  .wrapper
    if !isLogin
      p #{noUser}
    .card
      .card-heading
        h3.card-header Sign In
      .card-body
        form(action="/login" method="post" class="board-form")
          fieldset
            .form-group
              input.form-control(placeholder='E-mail', name='email', type='email', autofocus='' required)
            .form-group
              input.form-control(placeholder='Password', name='password', type='password', value='' required)
            .checkbox
              label
                input(name='remember', type='checkbox', value='Remember Me')
                | Remember Me
            input.btn.btn-primary(type='submit', value='Submit')
